.git
.github
vendor
node_modules
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
storage/*.key
storage/oauth/*
